################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mem.txt
/config.json
/DeletebotSample.js
